<div class="text-center">
  HEllo header
</div>
<!-- <header class="clearfix" ng-controller="headCtrl">

  <div class="branding {{main.settings.brandingColor}}" >
    <a class="brand" ui-sref="app.dashboard.overview">
      <span><img src="images/logo_dash.png" vspace="3"></span>
    </a>
    </div>

  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>
  </ul>
<ul class="nav-left pull-right list-inline" ng-controller="showNotificationBarCtrl">
  <li class="pull-left no-mobile">
    <a style="padding-right:10px;cursor:pointer;"  ng-show="bankUptime=='true'? true : false"  ng-click="goToUptime()" tooltip-placement="bottom" tooltip="Uptime Tracking">
      <fa name="clock-o"></fa>
    </a>
  </li>
  <li class="pull-left no-mobile">
    <a style="padding-right:10px;cursor:pointer;" ng-show="state.current.name=='app.dashboard.overview'" ng-click="refreshDashboard()" tooltip-placement="bottom" tooltip="Refresh Dashboard">
      <fa name="refresh"></fa>
    </a>
  </li>
  <li class="pull-left no-mobile">
    <a ui-sref="app.realTime" style="padding-right:10px" ng-show="realTime=='true'? true : false" tooltip-placement="bottom" tooltip="Real Time Dashboard">
      <fa name="line-chart"></fa>
    </a>
  </li>

  <li class="dropdown notifications" ng-show="notification=='true'? true : false" dropdown on-toggle="toggled(open)">

    <a href class="dropdown-toggle" dropdown-toggle ng-click="viewed()">
      <fa name="bell"></fa>
      <span ng-show="newNotificationBar != 0" class="badge bg-lightred">{{newNotificationBar}}</span>
    </a>

    <div class="no-mobile dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft">

      <div class="panel-heading">
        You have <strong>{{notificationheaderBar.length}}</strong> notifications in last 7 days
      </div>

        <ul class="list-group" ng-click="allNotification()">
          <li class="list-group-item" ng-repeat="(key,value) in notificationheaderBar | limitTo:7" style="background: ivory;">
            <a href="javascript:;" class="media ml-10">
            <div class="media-body">
              <span class="block">{{value.message.msg}}</span>
              <small class="text-muted">{{value.time}}</small>
            </div>
          </a>
        </li>
      </ul>
      <div ng-show="notificationheader.length != 0" class="panel-footer" ng-click="allNotification()" style="background: #ddd;">
        <a href="javascript:;">Show all notifications <fa name="angle-right" class="pull-right"></fa></a>
      </div>
    </div>
    <div class="no-desktop dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInLeft" style="min-width:0px !important;width: 150px; font-size: 0.8em;">

      <div class="panel-heading">
        You have <strong>{{notificationheaderBar.length}}</strong> notifications in last 7 days
      </div>

        <ul class="list-group" ng-click="allNotification()">
          <li class="list-group-item" ng-repeat="(key,value) in notificationheaderBar | limitTo:7" style="background: ivory;">
            <a href="javascript:;" class="media ml-10">

            <div class="media-body">
              <span class="block">{{value.message.msg}}</span>
              <small class="text-muted">{{value.time}}</small>
            </div>
          </a>
        </li>
      </ul>
      <div ng-show="notificationheader.length != 0" class="panel-footer" ng-click="allNotification()" style="background: #ddd;">
        <a href="javascript:;">Show all notifications <fa name="angle-right" class="pull-right"></fa></a>
      </div>
    </div>
  </li>





  <li style="padding:0px 4px" class="dropdown pull-right nav-profile" dropdown on-toggle="toggled(open)">

    <a href class="dropdown-toggle " dropdown-toggle>
      <span id="abc">Welcome, <strong>{{firstName}}</strong> <fa name="angle-down"></fa></span>
    </a>

    <ul class="dropdown-menu animated littleFadeInRight">
      <li ng-show="userType == 'Admin' && (roleList.indexOf(22) > 0)">
        <a ui-sref="app.customers.userprofile">
          <fa name="user"></fa>Profile
        </a>
      </li>
      <li ng-show="userType == 'Merchant' && (roleList.indexOf(22) > 0)">
        <a ui-sref="app.customers.merchantprofile">
          <fa name="user"></fa>Profile
        </a>
      </li>
      <li>
        <a ui-sref="app.settings">
          <fa name="cog"></fa>Settings
        </a>
      </li>
      <li ng-show="roleList.indexOf(61) != -1" class="divider"></li>
      <li ng-show="roleList.indexOf(61) != -1" style="cursor:pointer" ng-click="openFeedback(1);">
        <a >
          <fa name="info"></fa>Help & Support
        </a>
      </li>

      <li style="cursor:pointer">
        <a ui-sref="app.guide">
          <fa name="book"></fa>User Guide
        </a>
      </li>

      <li class="divider"></li>
      <li>
        <a ui-sref="core.logout">
          <fa name="sign-out"></fa>Logout
        </a>
      </li>
    </ul>
  </li>
  <li class="pull-left no-desktop" style="margin-right: -2%;">

    <a ui-sref="app.realTime" ng-show="realTime=='true'? true : false" tooltip-placement="bottom" tooltip="Real Time Dashboard">
      <fa name="line-chart"></fa>
    </a>

  </li>
</ul>
</header>





<script type="text/ng-template" id="feedbackModal.html">
  <div class="p-5 modal-header bg-slategray">
    <h3 class="modal-title custom-font text-center">Help & Support</h3>
  </div>
  <div class="modal-body">
    <h3 style="display:flex;"class="custom-font">FeedBack
    <p class="help-block">
    <span style="vertical-align: -webkit-baseline-middle;"> (in 500 words)</span>
  </p>
</h3>
        <div class="form-group">
          <textarea maxlength="500" class="form-control" rows="7" name="message" id="message" placeholder="Type your message" ng-model="feedback.msg" required></textarea>
        </div>
        <label class="checkbox checkbox-custom">
                  <input type="checkbox" name="agree" id="agree" ng-model="feedback.sendBugReport" required><i></i> Send Captured bug report</a>
                </label>
                <p class="help-block">
  <span ng-hide="feedback.sendBugReport">Bug report captured in the last working session will be sent.</span>
</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok()"><i class="fa fa-arrow-right"></i>Send</button>
    <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i>Close</button>
  </div>
</script> -->
